In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
missing_val_count_by_column = (train_data.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column > 0])

Age         177
Cabin       687
Embarked      2
dtype: int64

In [5]:
test_data.describe(include='all')

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,418.000000,418.000000,418,418,332.000000,418.000000,418.000000,418,417.000000,91,418
unique,NaN,NaN,418,2,NaN,NaN,NaN,363,NaN,76,3
top,NaN,NaN,"Kelly, Mr. James",male,NaN,NaN,NaN,PC 17608,NaN,B57 B59 B63 B66,S
freq,NaN,NaN,1,266,NaN,NaN,NaN,5,NaN,3,270
mean,1100.500000,2.265550,NaN,NaN,30.272590,0.447368,0.392344,NaN,35.627188,NaN,NaN
std,120.810458,0.841838,NaN,NaN,14.181209,0.896760,0.981429,NaN,55.907576,NaN,NaN
min,892.000000,1.000000,NaN,NaN,0.170000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,996.250000,1.000000,NaN,NaN,21.000000,0.000000,0.000000,NaN,7.895800,NaN,NaN
50%,1100.500000,3.000000,NaN,NaN,27.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,1204.750000,3.000000,NaN,NaN,39.000000,1.000000,0.000000,NaN,31.500000,NaN,NaN
max,1309.000000,3.000000,NaN,NaN,76.000000,8.000000,9.000000,NaN,512.329200,NaN,NaN

In [6]:
y = train_data['Survived']
features=['Pclass','Sex',"Age","SibSp",'Parch','Fare','Embarked']
X=train_data[features]
X.describe(include="all")

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
count,891.000000,891,714.000000,891.000000,891.000000,891.000000,889
unique,NaN,2,NaN,NaN,NaN,NaN,3
top,NaN,male,NaN,NaN,NaN,NaN,S
freq,NaN,577,NaN,NaN,NaN,NaN,644
mean,2.308642,NaN,29.699118,0.523008,0.381594,32.204208,NaN
std,0.836071,NaN,14.526497,1.102743,0.806057,49.693429,NaN
min,1.000000,NaN,0.420000,0.000000,0.000000,0.000000,NaN
25%,2.000000,NaN,20.125000,0.000000,0.000000,7.910400,NaN
50%,3.000000,NaN,28.000000,0.000000,0.000000,14.454200,NaN
75%,3.000000,NaN,38.000000,1.000000,0.000000,31.000000,NaN
max,3.000000,NaN,80.000000,8.000000,6.000000,512.329200,NaN

In [7]:
#split data for training and validation
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,
                                                      random_state=0)

In [8]:
#handle non numeric data
from sklearn.preprocessing import OrdinalEncoder

# Get list of categorical variables
s = (X_train.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables:")
print(object_cols)

# Make copy to avoid changing original data 
label_X_train = X_train.copy()
label_X_valid = X_valid.copy()

# Apply ordinal encoder to each column with categorical data
ordinal_encoder = OrdinalEncoder()
label_X_train[object_cols] = ordinal_encoder.fit_transform(X_train[object_cols])
label_X_valid[object_cols] = ordinal_encoder.transform(X_valid[object_cols])

print(label_X_train)

Categorical variables:
['Sex', 'Embarked']
     Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
140       3  0.0   NaN      0      2  15.2458       0.0
439       2  1.0  31.0      0      0  10.5000       2.0
817       2  1.0  31.0      1      1  37.0042       0.0
378       3  1.0  20.0      0      0   4.0125       0.0
491       3  1.0  21.0      0      0   7.2500       2.0
..      ...  ...   ...    ...    ...      ...       ...
835       1  0.0  39.0      1      1  83.1583       0.0
192       3  0.0  19.0      1      0   7.8542       2.0
629       3  1.0   NaN      0      0   7.7333       1.0
559       3  0.0  36.0      1      0  17.4000       2.0
684       2  1.0  60.0      1      1  39.0000       2.0

[712 rows x 7 columns]

In [9]:
#handle missing values
from sklearn.impute import SimpleImputer

# Imputation
my_imputer = SimpleImputer()
imputed_X_train = pd.DataFrame(my_imputer.fit_transform(label_X_train))
imputed_X_valid = pd.DataFrame(my_imputer.transform(label_X_valid))

# Imputation removed column names; put them back
imputed_X_train.columns = label_X_train.columns
imputed_X_valid.columns = label_X_train.columns

In [10]:
#train Model
from sklearn.ensemble import RandomForestClassifier

my_model = RandomForestClassifier(random_state=1)
my_model.fit(imputed_X_train,y_train)
predictions = my_model.predict(imputed_X_valid)

In [11]:
# check MAE
from sklearn.metrics import mean_absolute_error
mean_absolute_error(predictions,y_valid)

0.1787709497206704

In [12]:
#preprocess test data
X_test = test_data[features]
#handle non numeric data
from sklearn.preprocessing import OrdinalEncoder

# Get list of categorical variables
s = (X_test .dtypes == 'object')
object_cols = list(s[s].index)


# Make copy to avoid changing original data 
label_X_test  = X_test.copy()


# Apply ordinal encoder to each column with categorical data
ordinal_encoder = OrdinalEncoder()
label_X_test[object_cols] = ordinal_encoder.fit_transform(X_test[object_cols])

In [13]:
#handle missing values
from sklearn.impute import SimpleImputer

# Imputation
my_imputer = SimpleImputer()
imputed_X_test= pd.DataFrame(my_imputer.fit_transform(label_X_test))


# Imputation removed column names; put them back
imputed_X_test.columns = label_X_test.columns

In [14]:
final_predictions = my_model.predict(imputed_X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': final_predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!